{% extends "base.html" %}
{% block title %}Liste des Pays{% endblock %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Liste des Pays</h1>
    </div>
    <p>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">Alpha 2</th>
                    <th scope="col">Alpha 3</th>
                    <th scope="col">Nom français</th>
                    <th scope="col">Nom anglais</th>
                    <th scope="col">Nb de Bands</th>
                </tr>
            </thead>
            <tbody>
                {% for c in countries %}
                    <tr>
                        <td>
                            <a href="{% url 'bands:detail_country' c.id %}">{{ c.country_alpha2 }}</a>
                        </td>
                        <td>{{ c.country_alpha3 }}</td>
                        <td>{{ c.country_name_fr }}</td>
                        <td>{{ c.country_name_en }}</td>
                        <td>
                            {% if c.created_bands.count == 0 %}
                                0
                            {% else %} 
                                <a href="{% url 'bands:list_country_bands' c.id %}">{{ c.created_bands.count}}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </p>
    <p>&nbsp;</p>
</div>
{% endblock %}
