{% extends "base.html" %}
{% block title %}Liste des Genres{% endblock %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Liste des Genres</h1>
    </div>
    <p>
        {% if user.is_authenticated %}
            <a href="{% url 'bands:ajout_genre' %}" class="btn btn-primary">Ajouter un Genre</a>
        {% endif %}
        {% include "pagination.html" with page=genres %}
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Ajouté par</th>`
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for g in genres %}
                    <tr>
                        <td>
                            <a href="{% url 'bands:detail_genre' g.id %}">{{ g.genre_name }}</a>
                        </td>
                        <td>{{ g.aud_crt_user.username }} le {{ g.aud_crt_ts }}</td>
                        <td class="text-center">
                            <a href="{% url 'bands:modifier_genre' g.id %}"
                               class="btn btn-primary btn-sm" data-title="Modifier">
                               <span class="bi-pencil"></span>
                            </a>
                            <a href="{% url 'bands:supprimer_genre' g.id %}"
                               class="btn btn-danger btn-sm" data-title="Supprimer">
                               <span class="bi-trash"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "pagination.html" with page=genres %}
        {% if user.is_authenticated %}
            <a href="{% url 'bands:ajout_genre' %}" class="btn btn-primary">Ajouter un Genre</a>
        {% endif %}
    </p>
</div>
{% endblock %}
