{% extends "base.html" %}
{% block title %}Liste de bands à écouter{% endblock %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Bands à écouter</h1>
    </div>
    <p>
        {% if bands %}
            {% include "pagination.html" with page=bands %}
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Ajouté le</th>
                        <th scope="col">Liens</th>
                        <th scope="col">Marquer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for b in bands %}
                        <tr>
                            <td>
                                <a href="{% url 'bands:detail_band' b.band.id 'a_ecouter' %}">{{ b.band.band_name }}</a>
                            </td>
                            <td>{{ b.added_ts }}</td>
                            <td>
                                {% for l in b.band.link_for_a_band.all %}
                                    <a href="{{ l.link_url }}" target="_blank" rel="noopener noreferrer">{{ l.link_name }}</a>
                                {% endfor %}
                            </td>
                            <td><a href="{% url 'bands:inscrire_ecoute_band' b.band.id 'a_ecouter' %}"
                                class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="J'ai écouté">
                                <span class="bi-check"></span></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "pagination.html" with page=bands %}
        {% else %}
            Tu n'as rien à écouter.
        {% endif %}
    </p>
    <p>
        <a href="{% url 'bands:list_bands' %}" class="btn btn-primary">Tous les bands</a>
    </p>
</div>
{% endblock %}
