{% extends "base.html" %}
{% block title %}Band - Ajouter un genre{% endblock %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Genres disponibles pour: {{ band.band_name }}</h1>
        </div>
        <p>
            <a href="{% url 'bands:modifier_band' band.id %}" class="btn btn-primary">Retour</a>
        </p>
        <ul class="list-group">
            {% if genres %}
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Appellation</th>
                            <th class="text-center" scope="col">Choisir</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for g in genres %}
                            {% if g.id not in curr_genres %}
                                <tr>
                                    <td>{{ g.genre_name }}</td>
                                    <td class="text-center">
                                        <a href="{% url 'bands:band_ajouter_genre' band.id g.id %}"
                                        class="btn btn-success btn-sm" data-title="Ajouter">
                                        <span class="bi-plus-circle"></span>
                                        </a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                Pas de genres.
            {% endif %}
        </ul>
        </p>
        <p>
            <a href="{% url 'bands:modifier_band' band.id %}" class="btn btn-primary">Retour</a>
        </p>
    </div>
{% endblock %}
