{% extends "base.html" %}
{% block title %}Liste des dernières écoutes{% endblock %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Dernières écoutes</h1>
    </div>
    <p>
        {% if bands %}
            {% include "pagination.html" with page=bands %}
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Écoutté le</th>
                        <th scope="col">Liens</th>
                        <th scope="col">Réécouter</th>
                    </tr>
                </thead>
                <tbody>
                    {% for b in bands %}
                        <tr>
                            <td>
                                <a href="{% url 'bands:detail_band' b.band.id 'liste_ecoutes' %}">{{ b.band.band_name }}</a>
                            </td>
                            <td>{{ b.added_ts }}</td>
                            <td>
                                {% for l in b.band.link_for_a_band.all %}
                                    <a href="{{ l.link_url }}" target="_blank" rel="noopener noreferrer">{{ l.link_name }}</a>
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{% url 'bands:a_ecouter_band' b.id %}"
                                    class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="À réécouter">
                                    <span class="bi-music-note-list"></span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "pagination.html" with page=bands %}
        {% else %}
            Tu n'as rien écouté.
        {% endif %}
    </p>
    <p>
        <a href="{% url 'bands:list_bands' %}" class="btn btn-primary">Tous les bands</a>
    </p>
</div>
{% endblock %}
