{% extends "base.html" %}
{% block title %}Liste des Bands{% endblock %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Liste des Bands</h1>
    </div>
    <p>
        {% if maj_permises %}
            <a href="{% url 'bands:ajout_band' %}" class="btn btn-primary">Ajouter un Band</a>
        {% endif %}
        {% include "pagination.html" with page=bands %}
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Ajouté par</th>
                    {% if maj_permises %}<th class="text-center" scope="col">Actions</th>{% endif %}
                </tr>
            </thead>
            <tbody>
                {% for b in bands %}
                    <tr>
                        <td>
                            <a href="{% url 'bands:detail_band' b.id %}">{{ b.band_name }}</a>
                        </td>
                        <td>{{ b.aud_crt_user.username }} le {{ b.aud_crt_ts }}</td>
                        {% if maj_permises %}
                            <td class="text-center">
                                <a href="{% url 'bands:modifier_band' b.id %}"
                                class="btn btn-primary btn-sm" data-title="Modifier">
                                <span class="bi-pencil"></span>
                                </a>
                                <a href="{% url 'bands:supprimer_band' b.id %}"
                                class="btn btn-danger btn-sm" data-title="Supprimer">
                                <span class="bi-trash"></span>
                                </a>
                                {% if b.is_fan %}
                                    <a href="{% url 'bands:ne_pas_aimer_band' b.id %}"
                                    class="btn btn-primary btn-sm" data-title="NePlusAimer">
                                    <span class="bi-heartbreak-fill"></span>
                                    </a>
                                {% else %}
                                    <a href="{% url 'bands:aimer_band' b.id %}"
                                    class="btn btn-primary btn-sm" data-title="Aimer">
                                    <span class="bi-heart-fill"></span>
                                    </a>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "pagination.html" with page=bands %}
        {% if maj_permises %}
            <a href="{% url 'bands:ajout_band' %}" class="btn btn-primary">Ajouter un Band</a>
        {% endif %}
    </p>
</div>
{% endblock %}
