{% extends "base.html" %}
{% block title %}Liste de mes bands{% endblock %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Liste de mes bands</h1>
    </div>
    <p>
        {% if bands %}
            {% include "pagination.html" with page=bands %}
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Ajouté par</th>
                        <th scope="col">Liens</th>
                    </tr>
                </thead>
                <tbody>
                    {% for b in bands %}
                        <tr>
                            <td>
                                <a href="{% url 'bands:detail_band' b.id 'mes_bands' %}">{{ b.band_name }}</a>
                            </td>
                            <td>{{ b.aud_crt_user.username }} le {{ b.aud_crt_ts }}</td>
                            <td>
                                {% for l in b.links %}
                                    <a href="{{ l.link_url }}" target="_blank" rel="noopener noreferrer">{{ l.link_name }}</a>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "pagination.html" with page=bands %}
        {% else %}
            Tu es fan d'aucun band.
        {% endif %}
    </p>
    <p>
        <a href="{% url 'bands:list_bands' %}" class="btn btn-primary">Tous les bands</a>
    </p>
</div>
{% endblock %}
