{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div>
                <div class="card-body">
                    <h1 class="card-title">Modifier un Band</h1>
                    {% if error %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ error }}
                        </div>
                    {% endif %}
                    <p class="card-text">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Modifier</button>
                            <a href="{% url 'bands:list_bands' %}" class="btn btn-primary">Annuler</a>
                        </form>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div>
                <div class="card-body">
                    <h3 class="card-title">Liens</h3>
                    <p class="card-text">
                        {% if links %}
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Ajouté par</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for l in links %}
                                        <tr>
                                            <td>
                                                <a href="{{ l.link_url }}" target="_blank" rel="noopener noreferrer">{{ l.link_name }}</a>
                                            </td>
                                            <td>{{ l.aud_crt_user.username }} le {{ l.aud_crt_ts }}</td>
                                            <td class="text-center">
                                                <a href="#" class="btn btn-primary btn-sm" data-title="Modifier">
                                                    <span class="bi-pencil"></span>
                                                </a>
                                                <a href="{% url 'bands:supprimer_bandlink' band.id l.id%}" class="btn btn-danger btn-sm" data-title="Supprimer">
                                                    <span class="bi-trash"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                <tbody>
                            </table>
                        {% else %}
                            Pas de liens.
                        {% endif %}
                    </p>
                    <a href="{% url 'bands:ajout_bandlink' band.id %}" class="btn btn-primary">Ajouter un lien</a>
                    <a href="{% url 'bands:list_bands' %}" class="btn btn-primary">Retour à la liste</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div>
                <div class="card-body">
                    <h3 class="card-title">Pays</h3>
                    <p class="card-text">
                        {% if countries %}
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Alpha 2</th>
                                        <th scope="col">Alpha 3</th>
                                        <th class="text-center" scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for c in countries %}
                                        <tr>
                                            <td>{{ c.country_name_fr }}</td>
                                            <td>{{ c.country_alpha2 }}</td>
                                            <td>{{ c.country_alpha3 }}</td>
                                            <td class="text-center">
                                                <a href="{% url 'bands:band_enlever_pays' band.id c.id %}" class="btn btn-danger btn-sm" data-title="Retirer">
                                                    <span class="bi-dash-circle"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                <tbody>
                            </table>
                        {% else %}
                            Pas de pays.
                        {% endif %}
                    </p>
                    <a href="{% url 'bands:band_choisir_pays' band.id %}" class="btn btn-primary">Ajouter un pays</a>
                    <a href="{% url 'bands:list_bands' %}" class="btn btn-primary">Retour à la liste</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div>
                <div class="card-body">
                    <h3 class="card-title">Genres</h3>
                    <p class="card-text">
                        {% if genres %}
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Appellation</th>
                                        <th class="text-center" scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for g in genres %}
                                        <tr>
                                            <td>{{ g.genre_name }}</td>
                                            <td class="text-center">
                                                <a href="{% url 'bands:band_enlever_genre' band.id g.id %}" class="btn btn-danger btn-sm" data-title="Retirer">
                                                    <span class="bi-dash-circle"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                <tbody>
                            </table>
                        {% else %}
                            Pas de genres.
                        {% endif %}
                    </p>
                    <a href="{% url 'bands:band_choisir_genre' band.id %}" class="btn btn-primary">Ajouter un genre</a>
                    <a href="{% url 'bands:list_bands' %}" class="btn btn-primary">Retour à la liste</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
